@model List<SearAlertingServiceCore.Alert>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row" style="padding-bottom: 10px">

            <h1>SEAR Alerts</h1>
        </div>

        <div class="row">

            @foreach (var alert in Model)
            {
                await IncludeAsync("_alert.cshtml", alert);
            }

        </div>

        </div>
</body>
</html>